<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AggregateSource" version="0.0.300" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net45" />
  <package id="Nancy" version="1.1" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="1.1" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="NEventStore.Persistence.MongoDB" version="5.0.0.103" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="OpenTable.Services.Components.Common" version="1.0.7" targetFramework="net45" />
  <package id="OpenTable.Services.Components.Monitoring" version="2.0.8" targetFramework="net45" />
  <package id="OT.Core.Data.DataProtector" version="2.0.4" targetFramework="net45" />
  <package id="OT.Core.Interfaces.IoC" version="2.0.1" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
</packages>